$font-source-sans-pro: Source Sans Pro, sans-serif;
$font-bungee: Bungee, sans-serif;

$tweeter-blue: #4056a1;
$tweeter-handle-blue: lightblue;
$tweeter-white: #FFFFFF;
$tweeter-gray: #545149;
$social-hover-color: goldenrod;
$error-color: red;