#profile-header {
  height: 520px;
  width: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkorange;
  background-image: url(../images/foggy-birds.png);
}

h2 {
  margin: 0%;
}

@media only screen and (min-width: 768px) {
  #profile-header {
    width: 33.3%;
    float: left;
    margin-inline: 2em;
    margin-top: 180px;
  }
}