@use 'constants';

nav {
  height: 120px;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: constants.$tweeter-blue;
  color: constants.$tweeter-white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  i {
    color: constants.$tweeter-handle-blue;
  }
}

.new-tweet-button {
  font-weight: bold;
  padding-left: 0.5rem;
}

#logo {
  font-family: constants.$font-bungee;
}