@use 'constants';

nav {
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: constants.$tweeter-blue;
  color: constants.$tweeter-white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  
  #logo {
    font-family: constants.$font-bungee;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .new-tweet-button {
    font-weight: bold;
  }

  i {
    color: constants.$error-color;
  }
}