@use 'constants';

nav {
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: constants.$tweeter-blue;
  color: constants.$tweeter-white;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

span {
  font-family: constants.$font-bungee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

i {
  color: constants.$error-color;
}

.new-tweet{
  font-family: constants.$font-source-sans-pro;
}