@use 'constants';

new-tweet {
  font-family: Source Sans Pro;
  color: constants.$tweeter-gray;
  width: 100%;
}

textarea {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 4px;
  border-color: constants.$tweeter-gray;
  width: 100%;
  height: 1.5em;
  resize: none;
  color: constants.$tweeter-gray;
  font-family: constants.$font-source-sans-pro;
  font-weight: bold;
}

.below-tweet {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  font-family: constants.$font-bungee;
}

#error-box {
  padding: 1em;
  border: 4px solid constants.$error-color;
  font-family: constants.$font-source-sans-pro;
  font-weight: bold;
  color: constants.$error-color;
  margin-block: 1rem;
}

.below-tweet > button {
  border: 0;
  padding: 0.2em;
  color: constants.$tweeter-white;
  background-color: constants.$tweeter-blue;
}

.counter-red {
  color: constants.$error-color;
}