@use 'constants';

.new-tweet {
  color: constants.$tweeter-gray;
  margin-bottom: 2rem;
  
  h2 {
    font-weight: bold;
    padding-bottom: 1rem;
  }

  textarea {
    border: 0;
    border-bottom: 4px solid constants.$tweeter-gray;
    width: 100%;
    height: 4rem;
    resize: none;
    color: constants.$tweeter-gray;
    font-size: 1.5rem;
    outline: 0;
  }
}


.below-tweet {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  font-family: constants.$font-bungee;

  button {
    border: 0;
    padding: 0.2rem;
    color: constants.$tweeter-white;
    background-color: constants.$tweeter-blue;
  }
}

#error-box {
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  border: 4px solid constants.$error-color;
  font-weight: bold;
  color: constants.$error-color;
  margin-block: 1rem;
}

.counter-red {
  color: constants.$error-color;
}