nav {
  height: 120px;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #4056a1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav i {
  color: lightblue;
}

.new-tweet-button {
  font-weight: bold;
  padding-left: 0.5rem;
}

#logo {
  font-family: Bungee, sans-serif;
}
