.new-tweet {
  color: #545149;
  margin-bottom: 2rem;
}
.new-tweet h2 {
  font-weight: bold;
  padding-bottom: 1rem;
}
.new-tweet textarea {
  border: 0;
  border-bottom: 4px solid #545149;
  width: 100%;
  height: 4rem;
  resize: none;
  color: #545149;
  font-size: 1.5rem;
  outline: 0;
}

.below-tweet {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  font-family: Bungee, sans-serif;
}
.below-tweet button {
  border: 0;
  padding: 0.2rem;
  color: #FFFFFF;
  background-color: #4056a1;
}

#error-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 4px solid red;
  font-weight: bold;
  color: red;
  margin-block: 1rem;
}

.counter-red {
  color: red;
}
