/*
  Variables
*/
.tweet {
  display: flex;
  flex-direction: column;
  border-width: 4px;
  border-style: solid;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tweet:hover {
  box-shadow: 6px 6px lightblue;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  height: 3em;
  flex-direction: row;
  margin-bottom: 2em;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  height: 2em;
  border-top: 4px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  padding-block: 0.5em;
  margin-top: 1em;
}

/*
  TODO: Refactor left-items, and right-items together.
*/
.left-items {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.right-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.handle {
  color: lightblue;
  font-weight: bold;
}

.tweet-age {
  font-weight: bold;
  font-size: small;
}

.social-button {
  font-size: medium;
  padding-inline: 0.5em;
  color: #4056a1;
}

.social-button:hover {
  color: goldenrod;
}
